<% provide(:title, "Contact Meglish") %>
<div class = "container content top-padding">
  <div align="center">
    <h1>Send a message to Meglish</h1>

    <%= simple_form_for @contact, :html => {:class => 'contact-form' } do |f| %>
      <%= f.input :name, :required => true %>
      <%= f.input :email, :required => true %>
      <%= f.input :message, :as => :text, :required => true %>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <div>
        </br>
        <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
