<%= render('layouts/errors', :object => @lesson) %>

<%= form_for [@course, @lesson] do |f| %>
  <%=f.label :name %>
  <%=f.text_field :name, class: "form-control" %>

  <%=f.label :description %>
  <%=f.text_field :description, class: "form-control" %>

  <%=f.label :video %>
  <%=f.text_field :video, class: "form-control" %>

  <div class="field">
    <%= f.label "Skills" %><br />
    <%= f.collection_check_boxes :skill_ids, Skill.all, :id, :name do |b| %>
    <div class="collection-check-box">
      <%= b.check_box %>
      <%= b.label %>
    </div>
    <% end %>
  </div>

  <%=f.label :time %>
  <%=f.text_field :time, class: "form-control" %>

  <%=f.label :body, "Content (use Markdown)" %>
  <%=f.text_area :body, size: "24x40", class: "form-control" %>

  <p><%= f.submit "Save", class: "btn btn-primary" %></p>

<% end %>
