  <h4>Lesson<h4>
    <% if @lesson.video? %>
        <div class="embed-responsive embed-responsive-16by9">
          <span class="embed-responsive-item"><%= raw(@lesson.video) %></span>
        </div>
        <p>Time: <%= @lesson.time %> hour</p><br>
        <p> <%= markdown(@lesson.body) %> </p>

    <% else %>
        <p>Time: <%= @lesson.time %> hour</p><br>
        <p> <%= markdown(@lesson.body) %> </p>
        <% if can? :update, @lesson %>
          <%= link_to "Edit Lesson", edit_course_lesson_path(@course, @lesson) %> |
          <%= link_to "Delete Lesson", course_lesson_path(@course, @lesson),
                                 :data => {:confirm => "Are you sure?",
                                            :method => "delete"} %>
          <% end %>
    <% end %>

<hr>
<% if can? :create, @course %>
  <p><%= link_to "New Lesson", new_course_lesson_path(@course) %></p>
<% end %>
<%= link_to "Back", :back %>
