
<h1>New Course</h1>
<%= render "layouts/errors", :object => @course %>
<%= form_for @course do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :description %>
  <%= f.text_area :description, class:"form-control" %>
  <p><%= f.submit class: "btn btn-primary" %></p>
<% end %>
