
<h1>New Course</h1>
<%= render "layouts/errors", :object => @course %>
<%= form_for @course do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :description %>
  <%= f.text_area :description, class:"form-control" %>

  <%= f.label :photo %>
  <%= f.file_field :photo, class: "form-control" %>

  <%= f.label :level %>
  <%= f.text_field :level, class: "form-control" %>

  <%= f.label :age %>
  <%= f.text_field :age, class: "form-control" %>

  <%= f.label :skill %>
  <%= f.text_field :skill, class: "form-control" %>


  <div class="field">
  <%= f.label "Categories" %><br />
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
    <div class="collection-check-box">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
</div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
