
<h1>New Course</h1>
<%= render "layouts/errors", :object => @course %>
<%= form_for @course do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :description %>
  <%= f.text_area :description, class:"form-control" %>
  <%= f.label "picture" %>
  <%= f.text_field :picture, class: "form-control" %>
  <%= f.label "level" %>
  <%= f.text_field :level, class: "form-control" %>
  <%= f.label "age" %>
  <%= f.text_field :age, class: "form-control" %>
  <%= f.label "skill" %>
  <%= f.text_field :skill, class: "form-control" %>

  <p><%= f.submit class: "btn btn-primary" %></p>
<% end %>
