<% provide(:title, "Course List") %>
<div class="hero-bg">
  <div class="hero-content">
    <div class="container">
      <h1 class="big-title">Learn English</h1>
      <h1>with Meglish</h1>
    </div>
  </div>
</div>
<div class="content">
  <div class ="container room-for-header">
    <h2 class="title">Available English Courses</h2>
    <div class="row">
      <% @courses.each do |course| %>
      <div class="col-sm-6">
        <div class="card-deck-wrapper">
          <div class="card-deck">
            <%= image_tag course.photo.url, class: "card-img-top card-image" %>
            <div class="card-block">
              <h2 class="card-title text-center"><%= course.name %></h2>
              <p class="card-text text-center"><%= course.description%></p>
              <div class="center-button">
                <%= button_to  "Start Learning!", course_path(course), :class=>"btn btn-primary", :method => :get %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% if can? :create, @course %>
      <p><%= link_to "New Course", new_course_path %></p>
    <% end %>

  </div>
</div>
