<% provide(:title, "Course List") %>
<div class="hero-bg">
  <div class="hero-content">
    <h1>Learn English with Meglish</h1>
  </div>
</div>
<div class="content">
<div class ="container room-for-header">
  <h1 class="center-title">Available English Courses</h1>


    <div class="card-deck">
    <% @courses.each do |course| %>
      <div class="card">
        <h2 class="card-title text-center"><%= course.name %><h2>
        <span class="card-img-top" src="..." alt="Card image cap"><%= image_tag course.photo.url(:medium) %></span>
        <div class="card-block text-xs-center">
          <p class="card-text"><%= course.description%></p>
          <button class="btn btn-primary center-button"><%= link_to "Start Learning!", course_path(course) %></button>
        </div>
      </div>

    <% end %>
    </div>
<%= link_to "New Course", new_course_path %>
</div>
</div>
