<% provide(:title, "Course Lessons") %>
<div class = "container content">
  <h1><%= @course.name %></h1>
  <p> <%= @course.description %></p>

  <% if @course.lessons.each do |lesson| %>
    <h4>Lessons<h4>
        <p> <%= link_to lesson.name, course_lesson_path(@course, lesson) %> </p>
    <% end %>
  <%else%>
    <p> There are no lessons yet!</p>
  <%end%>
  <hr>
  <% if can? :create, @course %>
    <p><%= link_to "New Lesson", new_course_lesson_path(@course) %></p>
  <% end %>
  <p><%= link_to "Return to Courses", courses_path %></p>

</div>
